---
layout: default
title: Projects
comment: false
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="about">
        <p>
        <div>不入流的Android app</div>
        <ul>
          <li><a href="http://android.myapp.com/myapp/detail.htm?apkName=com.froyo.playcity.chenzhou" target='_blank'>玩转郴州</a></li>
          <li><a href='http://shouji.baidu.com/software/item?docid=8001968&from=as' target='_blank'>精小天气</a></li>
          <li><a href='http://shouji.baidu.com/software/item?docid=7798966&from=as' target='_blank'>淘淘</a></li>


        </ul>
        <div>仿制品</div>
        <ul>
            <li><a href='{{ site.baseurl}}/project/strml/index.html' target='_blank'>strml炫酷前端</a></li>
            <li><a href="http://example.charme.me/my_ex/iphon4/" target="_blank">CSS3 iPhone 4s</a></li>
            <li><a href="http://example.charme.me/my_ex/mt27i/" target="_blank">CSS3 SONY MT27i</a></li>
        </ul>
        <div>个人瞎扯</div>
        <ul>
            <li><a href='http://example.charme.me/' target='_blank'>CakePHP 使用</a></li>
            <li><a href="http://www.aiaiaini.com" target="_blank">Yii2 DanDanCMS</a></li>
            <li><a href="http://www.aiaiaini.com/wap/default/index#!/life" target="_blank">Vue.js webApp</a></li>
        </ul>
        <a href="{{site.author.workproject}}">工作项目列表</a>

        </p>

    </div>
    <div class="fn-clear"></div>

    <div class="fn-clear"></div>
    <div class="contact">
        <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
