
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{site.title}}-{{ page.title }}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% else %}
        <meta name="description" content="{{ site.pagedescription }}">
    {% endif %}

    {% if page.keywords %}
        <meta name="keywords" content="学习,一起啊,{{ page.keywords }}">
    {% else %}
        <meta name="keywords" content="{{ site.pagekeywords }}">
    {% endif %}
    
    {% include header.html %}
    
</head>

<body>


    <!-- nav-menu-dropdown -->
    <div  id="nav-menu">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu" role="menu">

            {% for link in site.nav %}
                        {% assign active = nil %}

                        {% if page.url == link.url%}
                          {% assign active = 'nav-item-active' %}
                        {% endif %}

                        <li class="nav-item {{ active }}">
                            <a href="{{ site.BASE_PATH }}/{{ link.url }}">
                            {% if link.icon %}
                            <i class="{{link.icon}}"></i>
                            {% endif %}
                                {{ link.text }}
                            </a>
                            {{ indicator }}
                        </li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
        </ul>
    </div>


    <div class="sidebar" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat !important;{% endif %}">
        {% include sidebar.html %}
    </div>

    <div class="pagecontent">
        <div class="article article-post">
            <h2 class="title">{{ page.title }}</h2>
            <div class="info">
            <span class="info-title"><i class="fa fa-calendar" aria-hidden="true"></i> </span>
            <span class="info-date">{{ page.date | date_to_string }}</span>
             <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
            <span class="info-link"><a href="{{ site.baseurl }}/navigations/categories.html#{{ page.category }}-ref" >{{ page.category }}</a></span>
            </div>
            
            {{ content }}
            <nav class="article-previous fn-clear">
                {% if page.previous %}
                <div><a class="prev" href="{{site.baseurl}}{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a></div>
                {% endif %}
                {% if page.next %}
                <div><a class="next" href="{{site.baseurl}}{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a></div>
                {% endif %}
            </nav>
            <div class="comment">
                <h3>评论</h3>
                <div id="disqus_thread"></div>
                
                   
            </div>
        </div>


        <footer>
            <hr/>
            <p>
                &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} with <a href="http://jekyllrb.com/">Jekyll</a>. Theme: <a href="https://github.com/dbtek/dbyll">dbyll</a> by dbtek.
            </p>
        </footer>

    </div>

{% include valinejscomment.html %}
{% include footer.html %}

    
    
</body>
</html>
