h1{
    font-size: 250%;
}
h2{
    font-size: 200%;
}
body,img{
    max-width: 100%;
        margin:0px;
    padding: 0px;
}

.page-header{

    position: relative;
    padding: 20px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.page-logo{

    display: inline-block;
}
.page-title{
    font-size: 150%;
}
.page-subtitle{
    font-size: 6px;
}
.search-form{
    float: left;
    width:300px;

}
.page-nav-content{

    display: inline-block;
    margin: 0px;

}
.page-nav-item{
    display: inline-block;
    margin-left:0.4em;
    line-height: 20px;
}
.page-nav{
    font-size: 1.4em;
    float: right;
}

.full-width{
    width: 100%;
}

.page-part{
    margin-top: 4em;
    padding-top: 2.4em;

}
.part-title{
    text-align: center;
    font-weight: bold;
}
.nav{
    height: 30px

}
.nav-ul{
    text-align: center;
}
.nav-li{
display: inline;
margin: 0em .3em;
text-align: center;
}
.class-type-slide,.class-recommend-slide{

    text-align: center;
    margin-top:.5em;
}
.class-recommend{
    background: #f5f5f5;
}
.class-recommend-slide-items{
    margin: 0px;
    padding: 0px;
    max-width: 915px;
    display: inline-block;
}

.recommend-li{
    display: inline;
}
.recommend-goods-item{
    margin:.8em .5em ;
    border:1px solid #e6e6e8;
    display: inline-block;
    text-align: left;
    background: #fff;

}
.recommend-goods-info{
    padding: 0.5em;
    position: relative;

}
.recommend-action{
    position: absolute;
    top:2px;
    right: .5em;
    text-align: right;

}
.groupon-class{
    text-align: center;
}
.groupon-class-item{
    max-width: 915px;
    margin:0 auto;
}
.groupon-class-item-left,.groupon-class-item-right{
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
}
.groupon-goods-title{
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 1em;
    border-bottom: 1px #e6e6e8 dashed ;
}
.groupon-class-item-info{
    width: 80%;
    margin: auto;
}
.new-enlist{
    vertical-align: middle;
}
.circle-img{
    border-radius: 100px;
    border:1px solid #e6e6e8;
    vertical-align: middle;
}
.groupon-class-item-info-detail{
    margin-top:3em;
}
.groupon-class-item-info-detail-price{
    display: inline-block;
    color:black;
    font-weight: bold;

}
.money-txt{
    font-size: 400%;
}
.groupon-class-item{
    margin-top:4em;
    margin-bottom: 4em;
}
.groupon-class-item-info-detail-discount{
    display: inline-block;
}
.discount-txt{
    color: #fff;
    font-weight: bold;
    width: 50px;
    height: 29px;
    display: block;
    background: url(../img/price_bg.png);
}
.original-cost{
    display: block;
    text-decoration:line-through;
}
.enter-info{
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
.bordr-right{
    border-right: 1px #e6e6e8 solid;
}
.enter-info-span{
    padding:0.2em 0.3em;
}
.groupon-buy{
    margin:1em auto;
    text-align: left;
    width: 60%;
}
.groupon-buy-button{
    text-align: center;
    display: block;
    background: #33abe0;
    padding: 1em 2em;
    color:#fff;
    font-weight: bold;
    margin-bottom: 1em;
}

.ensure{
    background: #f5f5f5;
text-align: center;

}
.reback_info{
    display: inline-block;
    width: 105px;
    height: 108px;
}

.reback-txt{
    display: inline-block;
    height: 108px;
}
.ensure-txt{

    margin: 0 auto;
    max-width: 915px;
}
.ensure-info-item{
    max-width: 50%;
    float: left;
}
.ensure-txt-info{
    display: inline-block;
    width: 67%;
    margin-left: 1em;
    text-align: left;
}
.ensure-txt-info-title{
    color:black;
    font-weight: bold;
}
.ensure-txt-info-detail{
    line-height: 1.8em;
}
.blue-ad{
        margin-top: -4px;
    background: #33abe0;
    padding: 1.8em 0em;
    color:#fff;
}
.ad-txt{
    margin: 0 auto;
    max-width: 915px;
    position:relative;
    font-size: 150%;
    text-align: center;
}
.view-more-btn{
    color:#fff;
    font-size: 50%;
    position: absolute;
    display: inline-block;
    padding: 0.5em 1em;
    border:1px solid #fff;
    right:1em;
}
.page-footer{
    margin-top:8em;
}
.friend-links{
    display: inline-block;
}
.friend-link{
    display: inline;
    margin:0em 1em;
}
.call-img{
    vertical-align: middle;
    margin-top:-10px;
}
.connect-phone{
    display: inline-block;
}
.tips{
    display: block;
    font-size: 6px;
}
.call-phone-info{
display: inline-block;
}
.call-num{
    display: block;
    color:black;
    font-size: 120%;
}
